@import "tailwindcss";

@theme {
  --color-bg: rgb(255, 255, 255);
  --color-fg: rgb(7, 7, 7);
  --color-grey: rgb(207, 207, 207);
  --color-grey-light: rgba(235, 235, 235, 0.4);
  --color-green: rgba(48, 209, 91, 1);
  --color-orange: rgba(255, 159, 10, 1);
  --color-blue: rgba(10, 132, 255, 1);
  --breakpoint-ds: 1280px;
  --breakpoint-lg: 1024px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 400px;
}

html {
  height: 100%;
  scroll-snap-type: y mandatory;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  width: 100dvw;
}

::-webkit-scrollbar {
  display: none;
}

.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.025;
  z-index: 1000;
  pointer-events: none;
  background: url("../../public/noise.gif");
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
